GPATH
GRTAGS
GTAGS
build/
bin/
freetype
SDL2
vulkan
.cache/
.ccls-cache/
compile_commands.json
data/
# android stuff
android/local.properties
android/app/jni/SDL2
android/app/jni/freetype
android/app/src/main/assets
android/.gradle
android/app/.cxx